<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>SeeYouSoon ru.ivanov.transportation</title>
  </head>
  
  <body>
    <form method="POST" th:action="@{/logout}" id="logoutForm">
      <input type="submit" value="Logout"/>
    </form>
    <h1>SeeYouSoon ru.ivanov.transportation</h1>
    <h3>Fast and Secure Transportation</h3>
    <h3>We are professionals!</h3>
    <img th:src="@{/images/first.jpg}"/>
    <h3>Trucks available:  <span th:text="${trucksAvailable}">TRUCKSAVAILABLE</span></h3>
    <form  th:action="@{/fill}" id="truck">
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>